.config {
  @apply h-full grid gap-2;
  grid-template: "main content" 1fr/120px 1fr;


  .main {
    grid-area: main;
    @apply bg-slate-50 overflow-x-hidden rounded-lg p-2 text-sm;
  }

  .content {
    grid-area: content;
    @apply overflow-y-auto;
  }
}